body {
    background-image: url(imagens@/Fundo15.png);
    }

    div#interface{
        width: 1300px;
        
        margin: -30px auto 0px auto;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.788);
        padding: 10px ;
        }
        
footer#rodape{
    clear:both;
    border-top: 1px solid rgba(0, 0, 0, 0.692);
    
    }
    /* Formatação do Menu */

 h1#titulo{
        font-size: 30pt;
        color: rgba(0, 0, 0, 0.863);
        text-shadow: 1px 1px 1px #00000094;
 }
/*
Legenda de titulos

font#ocdan{
border-bottom: 1px #000000 double;
padding: 0px;
}

<h2 id="Ocdan">

Legenda de titulos 

h2#Ocdan{
font-size: 20pt;
color: rgb(0, 0, 0);
text-shadow: 1px 1px 1px #000000ce;
}

legenda dos arcos (EDIT CSS)

<b id="Arcos"> 

b#Arcos{
font-size: 14pt;
color: rgba(0, 0, 0, 0.808);
text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

*/

table#tabelaspec td.eq{
color: rgba(0, 0, 0, 0.781);
background-color: rgba(12, 133, 133, 0.781)
}

table#tabelaspec td.dr{
    color: rgba(0, 0, 0, 0.808);
background-color: rgba(37, 218, 218, 0.562);
font-weight: bolder;
}

table#tabelaspec{
    border: 1px solid black;
    border-spacing: 0px;
}

table#tabelaspec td{
    border: 1px solid black;  
    padding: 8px;
    text-align: left;
}

    nav#menu{
        display: block;
        
                }
        
                nav#menu ul {
        list-style: none;
        text-transform: uppercase;
        position: absolute;
        top: -20px;
        left: 100px;
        
        
                }
        
               
                nav#menu li {
                    display: inline-block;
                    background-color:#dddddd;
                    padding: 10px;
                    margin: 2px
                            }
        
                            nav#menu li:hover{
        background-color:  rgba(163, 163, 163, 0.781);
        
                            }
        
                            nav#menu h1{
        display: none;
        
                            }
        
                            nav#menu a{
        color:#000000;
        text-decoration: none;
        
                            }
                            nav#menu a:hover {
                               color: rgba(0, 0, 0, 0.61);
                  
        
        
                            }
         